export('artImpute', 
    'clusterData', 
    'dropMarkers', 
    'dysReg', 
    'markOut', 
    'plotDen', 
    'rankPerOut', 
    'statTest', 
    'oppti',
    'outScores'
    )
importFrom('limma', 'plotDensities')
importFrom('reshape', 'melt')
importFrom('grDevices', 'colorRampPalette')
importFrom('RColorBrewer', 'brewer.pal')
importFrom('pheatmap', 'pheatmap')
importFrom('grDevices','pdf')
importFrom('grDevices','dev.off')
importFrom('devtools','load_all')
import('stats', 
    'ggplot2', 
    'knitr', 
    'methods'
    )
