export('artImpute', 
    'clusterData', 
    'dropMarkers', 
    'dysReg', 
    'markOut', 
    'outScores', 
    'plotDen', 
    'rankPerOut', 
    'statTest', 
    'oppti'
    )
importFrom('limma', 'plotDensities')
importFrom('reshape', 'melt')
importFrom('cafr', 'attractorScanning')
importFrom('grDevices', 'colorRampPalette')
importFrom('RColorBrewer', 'brewer.pal')
importFrom('pheatmap', 'pheatmap')
importFrom('grDevices','pdf')
importFrom('grDevices','dev.off')
import('stats', 'ggplot2')